@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,400;1,500;1,600;1,800&family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(218, 206, 206);
}

.header {
    text-align: center;
}

h2 {
    padding: 2rem;
    font-weight: 800;
    font-size: 2rem;
}

blockquote {
    font-weight: 500;
    font-size: 1.2rem;
}

cite {
    font-weight: 1 00;
    line-height: 2rem;
}

.meal-search {
    padding: 3rem 0;
    margin: 0 auto;
    max-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

input {
    padding: 1rem;
    flex-grow: 5;
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
    border-color: #000;
    outline: none;
    border-right: none;
    background-color: rgb(218, 206, 206);
}

input::placeholder {
    color: #000;
}

.btn {
    flex-grow: 1;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    color: #fff;
    border-color: #000;
    background-color: rgb(127, 255, 0);
}

.btn:hover,
.recipe:hover {
    cursor: pointer;
    background-color: rgb(114, 228, 1);
    transition: all .3s linear;
}

.close:hover {
    cursor: pointer;
    color: rgb(114, 228, 1);
    transition: all .3s linear;
}

.card {
    position: relative;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 2rem;
    border-radius: 2rem;
    overflow-y: scroll;
}

.card::-webkit-scrollbar {
    display: none;
}

.card img {
    max-width: 100%;
    /* padding-bottom: 3rem;
    max-width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: transparent; */
}

.recipe {
    font-family: inherit;
    font-size: 1.1rem;
    border-radius: 2rem;
    margin: 2rem 0 1.2rem;
    padding: 1rem 2rem;
    border: 1px solid rgb(218, 206, 206);
    background-color: rgb(127, 255, 0);
}

.recipe-card {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    min-height: 100%;
    min-width: 100%;
}

.close {
    width: 100%;
    color: rgb(127, 255, 0);
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
    position: sticky;
    display: block;
    top: 0;
}

.recipe-card p {
    padding: 50px 10px 0;
}

.hiden {
    display: none;
}

@media screen and (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
    }
    .card {
        margin: 1rem;
    }
    .meal-search {
        padding: 1rem;
        justify-content: stretch;
    }
    input {
        width: 85%;
    }
    .btn {
        width: 15%;
    }
}

@media screen and (min-width: 451px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .btn {
        width: 10%;
    }
}

@media screen and (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .meal-search {
        max-width: 40vw;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .meal-search {
        max-width: 35vw;
    }
}